.sign-login-btn {
    a {
        color: $black;
        text-decoration: none;

        &:hover {
            color: $danger;
            text-decoration: underline;
        }
    }

    button {
        color: $white;

        &:hover {
            background-color: $white;
            color: $black;
            outline: 1px;
        }
    }

}

@media(min-width:996px) {
    .sign-login-btn {
        width: 60%;
    }
}